*.sdf
*.sln
*.suo
bin/
bin64/
arm64/
vs.proj/Debug
vs.proj/NppIniTools/Debug
vs.proj/NppIniTools/Release
vs.proj/Release
vs.proj/x64
vs.proj/ARM64
vs.proj/NppPlugi.*
vs.proj/NppIniTools.opensdf
vs.proj/NppIniTools.exp
vs.proj/NppIniTools.lib
vs.proj/NppIniTools.vcxproj.user
vs.proj/.vs/
*.aps
*.zip
*.bak
.vs